body {
    background-color: rgb(111, 111, 111);
}

#header {
    color: rgb(1, 0, 77);
}

#title {
    color: whitesmoke;
    float: left;
    font-family: 'Bowlby One SC', cursive;
}

#right {
    float: right;
}

#main {
    font-family: 'Cabin', sans-serif;
}