body {
    background-color: rgb(111, 111, 111);
    margin: 0px;
    padding: 0px;
}

.header {
    background: rgb(28, 27, 53);
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
    overflow: hidden;
}

.header a.active {
    background-color: white;
    color: black;
}

.logo {
    font-size: 30px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.header-right {
    float: right;
  }

#class {
    display: inline-block;
}

/* #main {
    font-family: 'Cabin', sans-serif;
} */

/*used from w3Schools*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: aliceblue;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }