body {
    background-color: rgb(111, 111, 111);
}

#header {
    background: rgb(17, 16, 71);
    font-size: 30px;
    color: whitesmoke;
    padding: 10px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#main {
    font-family: 'Cabin', sans-serif;
}