body {
    background-color: rgb(65, 0, 0);
}

#block {
    background-color: rgb(99, 99, 99);
    border-color: black;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
}

.title {
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

.info {
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

a {
    text-decoration: none;
    color: rgb(97, 0, 0);
    font-family: 'Titillium Web', sans-serif;
}

a:hover {
    color: rgb(0, 0, 0);
}

#date {
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(1, 9, 56);
    }

    #block {
        background-color: rgb(99, 99, 99);
        border-color: black;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(8, 0, 85);
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
    }
    
    a:hover {
        color: rgb(0, 0, 0);
    }

    img {
        width: 100%;
    }
  }